.about{
   display: flex;
   flex-direction: column;
   padding: 20px;
    h1{
    font-weight: bold;
    color: darkblue;
    }

    .main{
     display: flex;
     flex-direction: column;
     padding: 10px;
     
        .education{
            padding: 10px;
           background-color: #f0f0f0 ;
            border-radius: 10px;
            margin-bottom: 5%;


        }
    }
}